body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(29, 29, 31);
}

#heading {
  color: whitesmoke;
  text-align: center;
}

.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.button {
  color: rgb(25, 91, 117);
  background-color: rgba(41, 41, 54, 0.8);
  border: 2px solid rgb(25, 91, 117);
  border-radius: 1rem;
  padding: 1.2em;
  font-size: small;
  font-weight: 600;
  font-style: oblique;
  cursor: pointer;
  transition: all 400ms;
}

.button:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  border-color: rgb(173, 222, 241);
  color: rgb(173, 222, 241);
  text-decoration-line: underline;
}

.new-array-btn {
  margin-right: 2em;
}

.sort-btn {
  margin-right: 0.6em;
}

.bars-section {
  display: flex;
  flex-direction: row;
  margin: 2em auto;
  text-align: center;
  justify-content: center;
  max-width: 70vw;
  height: 70vh;
  max-width: 70vw;
}

.array-bars {
  background-color: rgb(179, 79, 179);
}

.mid-nav {
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
}

.mid-nav span {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
